.enquiries{
    height: 1000px;
    background-color: white;
    overflow: hidden;
}
section{
    display: flex;
   
}
#card1{
    background-color: rgb(247, 242, 233);
    width: 500px;
    height: 300px;
    padding-top: 60px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 10px;
    border: 1px solid rgb(5, 46, 5);
}
#card1 p{
    padding-left: 40px;
    color: rgb(5, 46, 5);
    font-size: 40px;
    font-family: "Oswald", serif;
}
#card1 button{
    border: 1px;
    border-radius: 20px;
    background-color: rgb(5, 46, 5);
    color: white;
    width: 150px;
    font-size: 20px;
    margin-left: 40px;
}
#card1 button:hover{
    background-color: white;
    color: rgb(5, 46, 5);
    border: 1px solid rgb(5, 46, 5);
}
#card2 {
    background-color: rgb(5, 46, 5);
    width: 500px;
    height: 300px;
    padding-top: 60px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 10px;
}

#card2 p {
    padding-left: 40px;
    color: white;
    font-size: 40px;
    font-family: "Oswald", serif;
}

#card2 button {
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(5, 46, 5);
    color: white;
    width: 150px;
    font-size: 20px;
    margin-left: 40px;
}

#card2 button:hover {
    background-color: white;
    color: rgb(5, 46, 5);
    border: 1px solid rgb(5, 46, 5);
}
 #card3{
    background-color: rgb(5, 46, 5);
    display: flex;
    width: 1100px;
    height: 400px;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 10px;
}
#card3 img{
    margin-top: 60px;
    height: 300px;
    width: 500px;
    margin-left: 20px;
    margin-bottom: 200px;
    border-radius: 10px;
}
#card3 p{
    padding-top: 100px;
    font-size: 40px;
    font-family: "Oswald", serif;
    color: white;
    margin-left: 40px;
}
#card3 button{
    margin-left: 60px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(5, 46, 5);
    color: white;
    width: 180px;
    font-size: 20px;
}
#card3 button:hover {
        background-color: white;
        color: rgb(5, 46, 5);
        border: 1px solid rgb(5, 46, 5);
}