.about{
    height: 600px;
    background-color: rgb(5, 46, 5);
    font-size: 25px;
    justify-content: center;
    align-items: center;
    color: white;
}
.about h2{
    justify-content: center;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
    padding-top: 30px;
}
.paraphs{
    align-items: center;
    font-family: "Oswald", serif;
    letter-spacing: 1px;
    font-size: 25px;
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 300px;
}