.drinks{
    height: 1000px;
    background-color: rgb(5, 46, 5);
}
.drinks p{
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    font-family: "Oswald", serif;
    padding-top: 300px;
    padding-right: 200px;

}
.drinks button{
    margin-left: 300px;
    margin-top: 60px;
    width: 300px;
    font-family: "Oswald", serif;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    font-size: 25px;
    border-radius: 20px;
    border: 2px solid white;
}
.drinks button:hover{
    background-color: white;
    color: rgb(17, 78, 17);
}
.image1{
    
    float: right;
    padding-top: 40px;
    padding-right: 40px;
    z-index: -1;
    
}
.image1 img{
    z-index: -1;
    height: 300px;
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;
    border-bottom-left-radius: 140px;
    border-bottom-right-radius: 140px;
}
.image2{
    float: left;
    z-index: -1;
    padding-top: 500px;
    padding-left: 60px;
}
.image2 img{
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;
    height: 300px;
    z-index: -1;
}