.enquiries{
    height: 1000px;
    background-color: white;
}
#cards{
    display: flex;
    height: 100px;
    
}
#cards p{
    color: black;
    font-family: "Oswald", serif;
    font-size: 40px;
}
#cards button{
    
    border: none;
    color: green;
    background-color: rgba(255, 255, 255, 0);
    font-size: 30px;
}
/* .card{ 
   
    padding-bottom: 40px;
}
.card2{
    background-color: rgb(5, 46, 5);
    color: white;
} */