body{
    margin: 0px;
}
.navbar{
    position: sticky;
}
#navlist{
    align-items: center;
    margin-right: 150px;
    font-size: 20px;
    position: sticky;
    /* color: green;
    text-decoration: none; */
}
a{
    color: green;
    text-decoration: none;
}