.services{
    height: 1800px;
    background-color: rgb(5, 46, 5);
    color: white;
}
.offered{
    position: sticky;
    font-family: "Oswald", serif;
    font-size: 60px;
    overflow: hidden;
    top: 0;
}

.card{
    margin: 0;
    background-color: green;
    margin-top: 100px;
    margin-left: 250px;
    max-width: 1000px;
    height: 450px;
    border-radius: 30px;
    border: none;
}

.card p{
    color: white;
    font-family: "Oswald", serif;
    font-size: 40px;
    padding-top: 160px;
    padding-left: 50px;
    padding-bottom: 120px;
}
.card p span{
    margin-left: 40px;
    display: flex;
}
.card img{
    height: 450px;
    width: 500px;
    margin-left: 80px;
}